
/*Aqui configure el estilo del body para utilizar 
la fuente Arial o sans-serif, y elimino el margen 
y relleno predeterminados */

body {
    font-family: Arial, sans-serif;     
    margin: 0;                       
    padding: 0;
}

/* estilizo el header para centrar el texto( text-aling center) 
y agregar un fodo de color claro (background-color) */

header {
    text-align: center;
    padding: 20px 0;
    background-color: white;        
}


/* aqui las secciones tiene un relleno  
para separar el contenido y los bloques del footer  */

section {
    padding: 20px;                         
}

/* le agregue un fondo de 
(background-color) para resaltar*/

.tecnologias {
    background-color: #ecf5eb;
    padding: 20px;                                    
}

.resumen {
    background-color: #ecf5eb;
    padding: 20px;                                    
}
.encabezado {
    background-color: #ecf5eb;
    padding: 20px;                                    
}

/*  en el footer utilizo los bloques horizontalmente 
y aplico (background-color) con texto. */

footer {
    display: flex;
    justify-content: space-around;        
    background-color: #ecf5eb;
    color: #1a1919;
    padding: 20px 0;
}
 

.bloque {
    flex: 1;
    padding: 0 20px;

}
.en3{
    width: 700px;
    height: 500px;
}
.en1{
    width: 500px;
    height: 500px;
}

h2,h3,p {
    text-align: center;

}